.white {
  background-color: rgb(255, 255, 255);
}

.grey {
  background-color: rgb(221, 221, 221);
}

footer {
  margin-top: 10%;
  padding: 2%;
  background-color: rgb(220, 220, 220);
  text-align: center;
}